.admin-login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.admin-login-form {
  background: rgba(0, 0, 0, 0.85);
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
}

.admin-logo {
  color: red;
  margin-bottom: 5px;
}

.admin-logo span {
  color: white;
}

.admin-login-form h2 {
  color: white;
  margin-bottom: 25px;
}

.admin-login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  background: #333;
  color: white;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  padding-right: 45px;
}

.eye-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  color: #aaa;
  font-size: 16px;
}

.eye-btn:hover {
  color: white;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background: red;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.submit-btn:hover {
  background: darkred;
}
