/* Seat Selection Container with Animated Gradient */
.seat-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  padding: 3rem;
  color: #fff;

  /* Gradient Background */
  background: linear-gradient(135deg, #000, #7f1425, #7f1425);
  background-size: 400% 400%;
}


/* Screen Label */
.screen {
  width: 80%;
  background: #d3d3d3;
  color: #222;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem;
  margin: 1rem 0;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(232, 6, 6, 0.6);
  letter-spacing: 2px;
}

/* Legend */
.legend {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  font-size: 14px;
}

.legend div{
  display: flex;
  align-items: center;
  gap: 6px;
}

.legend .seat {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 5px;
}

/* Seats Grid */
.seats-grid {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}

/* Seats */
.seat {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: all 0.2s ease;
}

/* Seat States */
.seat.available {
  background-color: transparent;
}
.seat.available:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(204, 46, 46, 0.7);
}

.seat.selected {
  background-color: #b4b70c;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(1, 89, 42, 0.8);
}

.seat.booked {
  background-color: #7f7a7a;
  cursor: not-allowed;
  opacity: 0.7;
}

.seat.soldout{
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: not-allowed;
}

/* Booking Summary Box */
.summary {
  background: rgba(0,0,0,0.6);
  padding: 15px 25px;
  border-radius: 10px;
  text-align: center;
  min-width: 300px;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
}

/* Book button */
.book-btn {
  background-color: #064385; /* blue */
  color: white;
}
.book-btn:hover {
  background-color: #0056b3;
}

/* Buy button */
.buy-btn {
  background-color: #28a745; /* green */
  color: white;
}
.buy-btn:hover {
  background-color: #1e7e34;
}

/* Reset button */
.reset-btn {
  background-color: #dc3545; /* red */
  color: white;
}
.reset-btn:hover {
  background-color: #a71d2a;
}

/* Responsive */
@media (max-width: 600px) {
  .seats-grid {
    grid-template-columns: repeat(5, 40px);
    gap: 8px;
  }
  .seat {
    width: 35px;
    height: 35px;
    font-size: 10px;
  }
}
